.product-features-card {
  background-color: black;
  color: white;

  .product-features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;

    .product-feature {
        display: flex;
        justify-content: center;
        gap: 0.75rem;
      .product-feature-point {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
