@use './variables.scss';

a {
  text-decoration: none;
}

.icon {
  a {
    img {
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);
    }

    i {
      font-size: 6rem;
    }
  }
}
