@use './card.scss';

.status-bar {
  background-color: var(--color-info);
  &.info {
    background-color: var(--color-info);
  }
  &.caution {
    background-color: var(--color-caution);
  }
  &.error {
    background-color: var(--color-error);
  }
  &.success {
    background-color: var(--color-success);
  }
  span {
    color: var(--color-primary);

    h4 {
      padding: 0.5em;
    }
  }
}
