.button {
  background-color: unset;
  border-radius: unset;
  box-shadow: none;
  opacity: var(--opacity);
  padding: 0;
  border: none;
  cursor: pointer;

  h3 {
    background-color: var(--button-background-color);
    color: var(--button-color);
    padding: 0.75rem;
  }
}
