.project-skills-bar {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  width: 100%;

  .icon {
    padding: 0;
  }

  i {
    font-size: 2rem;
  }

  img {
    width: 100%;
    max-width: 4rem;
    height: auto;
  }
}