.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
  padding: 0 1rem;

  &.full-height{
    min-height: 100vh;
  }
  
  &.error {
    margin-top: -5rem;
  }
}
