.site-map {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.site-map-info,
.site-map-communication,
.site-map-account,
.site-map-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex: 1;

  h5,
  h6 {
    text-align: center;
    letter-spacing: 0.375em;
    margin-right: -0.375em;
    font-family: var(--heading-font);
  }

  h5 {
    font-weight: 1000;
    padding: 0.25em 0.5em;
  }

  h6 {
    padding: 0.5em;
  }
}

.site-map-info-links,
.site-map-communication-links,
.site-map-account-links,
.site-map-offer-links {
  ul {
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--font-color);
      }
    }
  }
}

.site-map-info-links,
.site-map-communication-links,
.site-map-account-links,
.site-map-offer-links {
  ul {
    li:hover {
      background-color: var(--header-background-color-alt, black);
      border-radius: var(--border-radius, 0.5rem);
      box-shadow: var(--box-shadow, 4px 4px 10px gray);

      a {
        h6 {
          color: var(--header-font-color-alt, white);
          font-weight: 1000;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .site-map {
    align-items: start;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}