.apple {
  svg {
    height: 3rem;
    width: auto;

    path {
      fill: white;
    }
  }
}

.github-svg {
  svg {
    height: 4rem;
    width: 4rem;
  }
}

.hack-svg {
  svg {
    height: 3rem;
    width: auto;

    path {
      fill: white;
    }
  }
}