@import url('https://googleapis.com');

.version {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: lowercase;
    opacity: 0.85;
    padding: 0 0.5em;
}

footer {
    .version {
        font-size: 0.75rem;
        width: 100%;
        text-align: center;
    }
}